/*
selector {
    property : value;
    property2: value;
    color: rgb(206, 34, 34);
    background-image: url(1st-section.jpg);
    font-size: 10px;
    border: 40px solid #771414;
    max-width: 500px;
    float: :right
    margin: 100px; /* Top */
    /* padding: 100px;  Top */

*{
    margin: 0;
    padding: 0;

}



.head {
    background-image: url(1st-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.heading1 {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    padding-top: 17%;
    margin-bottom: 10px;
}
.prargfh1 {
    color: white;
    font-size: 35px;
    text-align: center;
}

.prargfh1 span {
    color: rgb(255, 94, 0);
}

ul li {
    float: right;
    list-style-type: none;
    font-size: 27px;
    margin: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: tomato;
}

.ABOUT {
    text-align: center;
    margin-top: 40px;
    color: rgb(255, 94, 0);
    font-size: 26px;
    margin-bottom: 40px;
}

.gallary {
    margin-top: 30px;
    float: left;
    width: 32.33%;
}

.gallary img {
    width: 340px;
    height: 300px;
    margin: 30px;

}
.desc {
 padding: 5px
}
.desc h2 {
    text-align: center;
}
.desc p {
    padding: 10px;
    text-align: center;
    color: rgb(17, 17, 16);
    font-size: 17px;
}

footer {
    margin-top: 40px;
}